<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RKFASHIONS</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="../Styles/Style.css">
</head>
<body>
    <section id = "header">
        <a href ="#"><img src= "../Images/logo.png" width="100px"> </a>
        <div>
            <ul id ="navbar">
              <li><a href="index.html">Home</a></li> 
              <li><a href="products.html">Products</a></li>  
              <li><a  href="contact.html">Contact</a></li> 
              <li><a href="login.html">Login</a></li> 
              <li><a class="active" href="cart.html"><i class="fa fa-shopping-cart"></i></a></li>   
            </ul>
        </div>
    </section>
    <section id = "page-header">
        
        <h2 style="color: rgb(199, 202, 27);">#For Enquiries</h2> 
        <p style="color: rgb(206, 206, 186);">PLEASE LEAVE A MESSAGE , we will get back to you in 24 hours</p>
       
    </section>
    <section id ="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>price</td>
                <td>Quantity</td>
                <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="../Images/IMG_3081.jpg" alt=""></td>
                    <td>Pearl choker</td>
                    <td>$55</td>
                    <td><input type="number" value= "1"></td>
                    <td>$55</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="../Images/IMG_3082.jpg" alt=""></td>
                    <td>Pearl choker</td>
                    <td>$60</td>
                    <td><input type="number" value= "1"></td>
                    <td>$60</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="../Images/IMG_3076.jpg" alt=""></td>
                    <td>Pearl choker</td>
                    <td>$75</td>
                    <td><input type="number" value= "1"></td>
                    <td>$75</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="../Images/IMG_3085.jpg" alt=""></td>
                    <td>Pearl choker</td>
                    <td>$280</td>
                    <td><input type="number" value= "1"></td>
                    <td>$280</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="enter your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                <td>subtotal</td>
                <td>$250</td>
                </tr>
                <tr>
                <td>shipping</td>
                <td>Free</td>
                </tr>
                <tr>
                <td><strong>Total</strong></td>
                <td><strong>$250</strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="../Images/logo.png"  alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> Morgans Secret Dr,Cypress,TX,77433</p>
            <p><strong>Phone:</strong> (409)291-9013</p>
            <p><strong>Hours:</strong> 10AM to 4PM , Monday to Saturday</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class ="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href = "#">About us</a>
            <a href = "#">Delivery Information</a>
            <a href = "#">Privacy Policy</a>
            <a href = "#">Terms & Conditions</a>
            <a href = "#">Contct us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href = "#">Account</a>
            <a href = "#">Sign In</a>
            <a href = "#">View Cart</a>
            <a href = "#">Track My Order</a>
            <a href = "#">Help</a>
        </div>

    </footer>


   <script src="Script.js"></script> 
</body>
</html>